@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@import '../../node_modules/bulma/bulma.sass';
$family-monospace: 'Recursive', monospace;

body {
  font-family: $family-monospace;
}

.columns {
  margin-right: 0;
}

.title-header {
  color: white;
  margin-top: 8px;
  font-family: monospace;
  padding: 10px 0px;
}

.progress-container {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 8px;
}

.progress-bar {
  height: 8px;
  background: $primary;
  width: 0%;
}

.biography {
  height: 90vh;
}

.subtitle {
  text-decoration: underline;
}

.intro--text {
  margin-top: 5 px;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.profilepicture {
  border-radius: 50%;
  width: 70%;
  transition: 0.5s;
  margin: 0 auto;
}

.profilepicture:hover{
  border-radius: 10%;
  transition: 0.5s;
}

.gutter {
  margin-top: 20px;
}

.title {
  max-width: 80vw;
}

.hidden {
  display: none;
}

.navbar-item {
  padding: 0 0.75rem;
}

.projects {
  margin-top: 50px;
}

.icon-container {
  text-align: center;
}

.icon {
  width: 90%;
  height: auto;
  transition: 0.5s;
}

.icon:hover {
  width: 100%;
  height: auto;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.13rem;
  }

  .icon {
    width: 10%;
  }
}