@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@import '../../node_modules/bulma/bulma.sass';
$family-monospace: 'Recursive', monospace;

body {
  font-family: $family-monospace;
}

.title {
  margin-top: 8px;
  font-family: monospace;
}

.progress-container {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 8px;
}

.progress-bar {
  height: 8px;
  background: $primary;
  width: 0%;
}

.subtitle {
  text-decoration: underline;
}

.intro--text {
  margin-top: 5 px;
}