@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@import '../../node_modules/bulma/bulma.sass';
$family-monospace: 'Recursive', monospace;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $family-monospace;
}

.columns {
  margin-right: 0;
}

.columns:last-child {
  margin-bottom: 0;
}

.is-1 {
  text-decoration: underline;
}

.link {
  border-bottom: 3px solid $black;
  transition: all 0.25s linear;
  position: relative;
  color: $black;
}

.link:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: $primary;
  position: absolute;
  left: 0;
  bottom: -3px; /* this is to match where the border is */
  transform-origin: left; 
  transform: scale(0);
  transition: 0.25s linear;
/*   will-change: transform; */
}

.link:hover:before {
  transform: scale(1);
}

.column {
  padding-right: 0;
}

.title-header {
  color: white;
  margin-top: 8px;
  font-family: monospace;
  padding: 10px 0px;
}

.intro-icon {
  width: 10%;
}

.contact-icon {
  width: 5%;
}

.intro-icons {
  margin-top: 100px;
  text-align: center;
}

.progress-container {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 8px;
  z-index: 1;
}

.progress-bar {
  height: 8px;
  background: $primary;
  width: 0%;
}

.biography {
  height: 55vh;
}

.intro-icon:hover, .contact-icon:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}

.subtitle {
  text-decoration: underline;
}

.text {
  margin: 0 10px;
}

.fa-arrow-down {
  font-size: 5em;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.profilepicture {
  border-radius: 50%;
  width: 70%;
  transition: 0.5s;
  margin: 0 auto;
}

.profilepicture:hover{
  border-radius: 10%;
  transition: 0.5s;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.gutter {
  margin-top: 20px;
}

.title {
  max-width: 100vw;
}

.hidden {
  display: none;
}

.navbar-item {
  padding: 0 0.75rem;
}

.projects {
  margin-top: 50px;
}

.icon-container {
  text-align: center;
}

.icon {
  width: 90%;
  height: auto;
  transition: 0.5s;
}

.project-content {
  z-index: 1;
  position: absolute;
  display:none;
  width: 50%;
  height: auto;
  transition: 0.5s;
}

.project-card {
  padding: 10px;
  margin: 5px;
}

.project-image {
  position: relative;
}

.project-images {
  margin: 5px 0px 10px 0px;
}
  
.project-card:hover .project-content {
  display:block;
  transition: 0.5s;
}

.project-card:hover .project-image {
  visibility: hidden;
}

.project-card-assets {
  font-style: italic;
  margin-bottom: 5px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $black;
  justify-content: center;
}

.contact-text {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.13rem;
    text-align: center;
  }

  .profilepicture {
    width: 50%;
  }

  .project-content {
    width: 100%;
  }

  .icon {
    width: 10%;
  }

  .intro-icons {
    margin-top: 10px;
    text-align: center;
  }

  .contact-icon {
    width: 10%;
  }

  .biography {
    height: 73vh;
  }
}